services:
  api:
    build: ./api
    container_name:  portal-master-api
    restart: unless-stopped
    ports:
      - "3010:3010"
    networks:
      - laudo-net
    depends_on:
      - db
  dicom-viewer:
    build: ./orthanc
    container_name: portal-master-dicom-viewer
    restart: unless-stopped
    ports:
      - "5000:5000"
    networks:
      - laudo-net

  web:
    build: ./web
    container_name: portal-master-web
    restart: unless-stopped
    ports:
      - "3011:3011"

    networks:
      - laudo-net
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=master
      - POSTGRES_PASSWORD=masterccm02
      - POSTGRES_DB=master
    volumes:
      - .docker/postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - laudo-net

networks:
  laudo-net:
    driver: bridge
