services:
  sender-api:
    build: .
    container_name: api_sender
    restart: unless-stopped
    entrypoint: .docker/entrypoint.sh
    ports:
      - "4242:4242"
    depends_on:
      - db


  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=master
      - POSTGRES_PASSWORD=masterccm02
      - POSTGRES_DB=master
    volumes:
      - .docker/db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
